@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-tab-nav {
  border-bottom: 1px solid #dee2e6;
}

.tab-button {
  position: relative;
  background: none;
  border: none;
  padding: 10px 16px;
  color: #6c757d;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.tab-button:hover {
  color: rgb(47, 49, 139);
}

.tab-button.active {
  color: rgb(47, 49, 139);
  font-weight: 600;
}

.tab-button.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%) scaleX(1);
  width: 100%;
  height: 3px;
  background-color: rgb(47, 49, 139);
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.tab-button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 3px;
  background-color: rgb(47, 49, 139);
  border-radius: 2px;
  transition: transform 0.3s ease;
}

